@charset "utf-8";
@import "./base.scss";
/*
 * 颜色scss变量
 */
$color-main: #023790;
$color-font:#333;/*基本字体颜色*/
$color-bg: #f8f8f8;/*背景颜色*/
$color-gray1: #666;
$color-gray2: #999;
$color-gray3: #ccc;
$color-gray4: #e9e9e9;
$color-gray5: #c8c8c8;
$color-border: #e1e1e1;
$color-blue: #005eb6;
$color-red: #f05a5a;
$color-footer: #ebf3ff;

//公共样式
.w1000{
    margin: auto;
    width: 1000px;
}
