@charset "utf-8";
@import "./base.scss";
/*
 * 颜色scss变量
 */
$color-main: #023790;
$color-font:#333;/*基本字体颜色*/
$color-bg: #f8f8f8;/*背景颜色*/
$color-gray1: #666;
$color-gray2: #999;
$color-gray3: #ccc;
$color-gray4: #e9e9e9;
$color-gray5: #c8c8c8;
$color-border: #e1e1e1;
$color-blue: #005eb6;
$color-red: #f05a5a;
$color-footer: #ebf3ff;

//公共样式
.w1000{
    margin: auto;
    width: 1000px;
}

a{
    color: $color-font;
    cursor: pointer !important;
}

//首页swiper
.swiper-wrapper{
    width: 448px;
    height: 306px;
    position: relative;
}
.swiper-wrapper h3{
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #fff;
    background: rgba(0,0,0,0.8);
    padding: 10px 0 !important;
}
.swiper-wrapper h3>p{
    padding-left: 30px;
    width: 230px;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
    position: absolute;
    bottom: 10px;
    right: 20px;
    left: auto;
    width: auto;
}
.swiper-pagination-bullet{
    background:#fff!important;
    opacity: 0.5;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #fff !important;
    opacity: 1;
}
.swiper-button-prev,.swiper-button-next{
    width: 50px;
    height: 61px;
    margin-top: -30px !important;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
//企业信息swiper
.swiper-wrapper.info-swp{
    width: 463px;
    height: 320px;
}
